alias o="xdg-open"
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -laF'
alias ls='ls --color=auto'
alias lsg='ls -la | grep'
alias ga='git add'
alias gc='git commit'
alias gb='git --no-pager branch'
alias upd='sudo apt-get update'
alias upg='sudo apt-get upgrade'
alias ins='sudo apt-get install'

alias -s json=code
alias -s txt=nano